<!DOCTYPE html>
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<div>
  <form action="/login" method="POST">
    <div >
      <label>Email address</label>
      <input type="email" class="form-control" name="username">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <button type="submit" >Submit</button>
  </form>

  <button type="button" onclick="location.href='/signup'">회원가입</button>
  <button type="button" onclick="location.href='/signup_admin'">사업자 회원가입</button>

  <div>
    <!-- 구글 로그인 버튼 -->
    <a href="/oauth2/authorization/google">
      <img src="/img/google.png" width="50" height="50">
    </a>
    <!-- 카카오 로그인 버튼 -->
    <a href="/oauth2/authorization/kakao">
      <img src ="/img/kakao.png"  width="50" height="50">
    </a>
    <!-- 네이버 로그인 버튼 -->
    <a href="/oauth2/authorization/naver">
      <img src="/img/naver.png" width="50" height="50">
    </a>

  </div>
</div>

<!-- 인증된 사용자만 볼 수 있는 부분 -->
<div sec:authorize="isAuthenticated()">
  인증된 사용자만 볼 수 있습니다.
</div>

<!-- 특정 권한이 있는 사용자만 볼 수 있는 부분 -->
<div sec:authorize="hasRole('ROLE_ADMIN')">
  관리자만 볼 수 있습니다.
</div>

<!-- 익명 사용자만 볼 수 있는 부분 -->
<div sec:authorize="isAnonymous()">
  로그인하지 않은 사용자만 볼 수 있습니다.
</div>

</body>
</html>